<!-- Footer -->
<footer class="page-footer font-small pt-4 main-footer">
  <!-- Footer Text -->

  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="font-weight-bold column__title">¿Por qué Visitarnos?</h5>
        <p>Somos una empresa dedicada en brindar el mejor servicio al cliente, todas nuestra pizzas usan ingredientes
          naturales y tenes servicio a domicilio.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Content -->
        <h5 class="font-weight-bold column__title">Contáctanos</h5>
        <p>Av. Mossèn Jacint Verdager, 12,</p>
        <p>08100, Santa Perpetua de moguda, Barcelona</p>
        <p>Teléfono : 93 115 31 11</p>
        <p>Movil : 616 594 036</p>
        <p><a href="https://api.whatsapp.com/send?phone=+34616594036" target="_blank" class="btn-floating text-success"><mdb-icon icon="whatsapp" size="2x" class="green-text"></mdb-icon> Whatsapp</a></p>
        <p><a href="https://m.me/Pizzeria-%C3%91am-%C3%91am-404541813020446/" target="_blank" class="btn-floating text-primary"><mdb-icon icon="comments" size="2x" class="blue-text"></mdb-icon> Messenger</a></p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Content -->
        <h5 class="font-weight-bold column__title">Síguenos</h5>
        <p class="pt-3"><a href="https://www.facebook.com/Pizzeria-%C3%91am-%C3%91am-404541813020446/" target="_blank" class="btn-floating btn-fb p-2 indigo rounded" mdbWavesEffect><mdb-icon icon="facebook"></mdb-icon> Facebook</a></p>
        <h5 class="font-weight-bold column__title">Horario:</h5>
        <p>Martes y Miércoles</p>
        <p>19:00 a 23:30</p>
        <p>Jueves a Domingos</p>
        <p>11:00 a 16:00 y 19:00 a 23:30</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>© 2019 Pizzería Familiar ÑamÑam | Todos los derechos reservados</p>
    <p>Design by: <a href="https://luisalberto.ml" target="_blank">&lt; &#47; LUIS &gt;</a></p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
