.main-header {
  width: 100%;
  padding-top: .5em;
}

.logo {
  width: 150px;
  max-width: 300px;
  padding-bottom: .2em;
}

.main-header__contactInfo__phone {
  background-color: var(--mainColor);
  color: #FFF;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.main-header__contactInfo__phone a {
  text-decoration: none;
  color: #FFF;
}

.main-header__contactInfo__address {
  padding: 10px;
  margin: 0;
}

@media screen and (min-width:480px) {
  .main-header {
    padding-top: 1em;
  }

  .main-header__contactInfo {
    text-align: right;
  }

  .main-header__contactInfo__phone {
    background: none;
  }

  .main-header__contactInfo__address {
    color: #FFF;
    padding-top: 0;
  }

  .logo {
    width: 180px;
  }

}
@media screen and (min-width:768px) {
  .logo {
    width: 200px;
  }

  .main-header {
    padding-top: 1.2em;
  }
}

@media screen and (min-width:1024px) {

  .main-header {
    padding-top: 1em;
  }
  .main-header__contactInfo__phone,
  .main-header__contactInfo__address {
    padding-right: 0;
    font-size: 1.15em;
  }
  .logo {
    width: 250px;
  }
}
