<header class="main-header">
  <div class="container container--flex">
    <div class="logo-container column column--50 pt-3">
      <div class="logo"><img src="assets/img/logo.png" alt="Logotipo de lapizzeria ñamñam" class="logo"></div>
    </div>
    <div class="main-header__contactInfo column column--50">
      <p class="main-header__contactInfo__phone">
        <mdb-icon icon="phone" class="white-text"></mdb-icon><a href="tel:931153111"> 93 115 31 11</a></p>
      <p class="main-header__contactInfo__address"><mdb-icon icon="map-marker"></mdb-icon><a>Av. Mossèn Jacint Verdaguer, 12, 08100 - Santa Perpetua</a><a href="https://goo.gl/maps/T19mUNG8CwA2" target="_blank" class="text-success">¿Cómo llegar? Click aqui!</a> </p>
    </div>
  </div>
</header>
