@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Sarabun');

:root {
  --mainColor: #FAA64C;
  --secColor: #00a551;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  background-color: #B1B1B6;
}

/* -------------Estilos base------------- */
img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container--basic {
  width: 100%;
  margin: auto;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr);
}

.column {
  width: 100%;
}

.group--color .container--basic {
  background-color: var(--mainColor);
  color: #000;
  padding: 10px;
  text-align: center;
}

.main__title {
  margin: 15px 0;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
  color: var(--secColor);
}

.column__title {
  font-size: 2.1em;
  font-family: 'Dancing Script', Courier, monospace;
  font-weight: bold;
  color: var(--secColor);
}

.main__about__description .column:nth-child(2) {
  padding: 10px;
}

.boton {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  background-color: var(--mainColor);
  color: #FFF;
  padding: 10px;
  margin: 10px auto;
  z-index: 1000;
  border-radius: 15px;
}

.boton:hover {
  color: var(--mainColor);
  background-color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.group__title {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 100;
  font-size: 1.8em;
  margin: 30px;
}

/* -------------Estilos del banner------------- */
.banner {
  /* margin-top: -15px; */
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;
  top: 0;
}

.banner__img {
  width: 100%;
  object-fit: cover;
}

.banner__ofertas {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

/*-----Estilos de los iconos del nav y de la pagina de contacto----*/
.social-icon {
  display: flex;
  justify-content: space-between;
}

.social-icon [class*="fa-"] {
  color: #000;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  /*Aquí aumente esta linea para centrar los iconos*/
  line-height: 35px;

  background-color: #FFF;
  border-radius: 50%;
}

.social-icon__link {
  text-decoration: none;
}

/* -------------Estilos responsive------------- */

@media screen and (min-width:480px) {
  .banner {
    margin-top: -150px;
    z-index: -1000;
  }

  .banner__img {
    height: 300px;
  }

  .banner__ofertas {
    display: none;
  }

  .container--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .column--50 {
    width: 49%;
  }

  .column--50-25 {
    width: 49%;
  }

  .column--33 {
    width: 32%;
  }

  .main__about__description .column:nth-child(2) {
    padding-left: 20px;
    font-size: .9em;
  }

  .main__about__description .btn {
    margin: 0;
  }

  .main {
    padding-bottom: 15px;
  }
}

@media screen and (min-width:768px) {
  .column--50-25 {
    width: 24.5%;
  }

  .container--grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__title {
    font-size: 2.2em;
  }

  .main__about__description {
    margin-top: 30px;
  }

  .main__about__description .column--50:nth-child(2) {
    font-size: 1em;
  }

  .main__about__description .column--50:nth-child(2) .column__txt {
    line-height: 30px;
  }

  .column__title {
    font-size: 1.9em;
  }

  .group__title {
    font-size: 2.2em;
  }
}

@media screen and (min-width:1024px) {
  .container--basic {
    width: 1000px;
  }

  .banner__content {
    font-size: 2.5em;
  }

  .main__title {
    font-size: 2.3em;
  }

  .main__about__description .column--50:nth-child(2) .column__txt {
    line-height: 45px;
  }

  .group--color .container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }
}

@media screen and (min-width:1600px) {
  .container--basic {
    width: 1400px;
  }

  .main__about__description .column:nth-child(1) img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}
